#operater {
	padding: 5px;
}

img{
	width:auto;
}

#newtask{
	text-decoration:none;
}

#newtask img{
	vertical-align: bottom;
}

#add, #add form{
	width: 350px;
}

#add input{
	width: 200px;
}

#add select{
	width: 80px;
}

#add submit{
	width: 60px;
}