*{
	margin: 0;
	padding: 0;
	width: 380px
}

#wrapper {
	font-size:13px;
	color: black;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff5cb), to(#eee09e));
	text-shadow: 1px 1px 0 silver;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#message p{
	position: absolute;
	width: 150px;
	height: auto;
	margin: 150px auto;
	left: 100px;
	overflow: auto;
	z-index: 1;
}

header{
	padding: 5px;
	background-color: #5a3a1c;
	color: white;
	text-shadow: 1px 1px 0 black;
	text-align: center;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	height: auto;
	width: auto;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
}

#slider {
	width: 350px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0px;
	position: relative;
}

#today, #tomorrow {
	text-shadow: none;
	width: 350px;
}

#intime, #overdue, #next{
	width: 350px;
} 

#complete_task{
	width: auto;
	margin-right: 3px;
	vertical-align: bottom;
}

.scroll {
	height: 450px;
	width: 350px;
	overflow-x: hidden;
	position: relative;
	clear: left;
}

.scrollButtons {
	position: absolute;
	top: 200px;
	cursor: pointer;
	width: auto;
}

.scrollButtons.left {
	left: -15px;
}

.scrollButtons.right {
	right: -15px;
}


footer, #push{
	height: 20px;
}

footer {
	background-color: #004c8a;
	font: white;
	font-size: 14px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: none;
	width: auto;
	text-align: right;

}

footer a{
	color: white;
	margin: 0px 5px 0px 0px;
	padding: 0px 5px 0px 0px;
}

li{
	border-bottom: 1px dashed #c0c0c0;
	padding: 10px 0px 5px 0px;
	width: 330px;
	list-style: none;
}