*{
	margin: 0;
	padding: 0;
	width: 300px
}

body {
	height: 380px;
}

#wrapper {
	font-size:13px;
	color: black;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff5cb), to(#eee09e));
	text-shadow: 1px 1px 0 silver;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

header{
	padding: 5px;
	background-color: #5a3a1c;
	color: white;
	text-shadow: 1px 1px 0 black;
	text-align: center;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	height: auto;
	width: 300px;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
}

#today{
	position:absolute;
	left:0px;
	width: 280px;
	padding: 15px 10px;
	text-shadow: none;
}

#tomorrow{
	position:absolute;
	left:300px;
	width:280px;
	padding:15px 10px;
	text-shadow: none;
}

#intime, #overdue, #next {
	width: 280px;
}

footer, #push{
	height: 20px;
}

footer {
	background-color: #004c8a;
	font: white;
	font-size: 14px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: none;
	width: auto;
	text-align: right;

}

footer a{
	color: white;
	margin: 0px 5px 0px 0px;
	padding: 0px 5px 0px 0px;
}

li{
	border-bottom: 1px dashed #c0c0c0;
	padding: 10px 0px 5px 0px;
	width: 280px;
}