*{
	margin: 0;
	padding: 0;
}

body{
	font-size:13px;
	color: black;
	
	background: #fff5cb;
	
	text-shadow: 1px 1px 0 white;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

#content {
	margin: 50px auto;
	padding: 50px;
	width: 250px;
}

#page{
	background-color: #c6d477;
	margin: 0px auto;
	padding: 60px 20px;
	width: 600px;
	height: auto;
	text-shadow: none;
}

#upper {
	padding: 5px;
	background-color: #5a3a1c;
	color: white;
	text-shadow: 1px 1px 0 silver;
	text-align: center;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	height: auto;
}

#intro{
	margin: 0px auto;	
	width: 600px;
}

#content {
	background-color: #ccb965;
	padding: 0 10px 10px;
}

#login{
	margin: 0 0 0 10px;
}

#userinfo{
	margin: 20px auto;
	width: 500px;
}

#changelog{
	margin: 50px auto;
	width: 600px;
}

h3{
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
}